* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}
.clear {
  clear: both;
}
header {
  width: 100%;
  height: 70.25vh;
  background-image: url('../imagens/bg.jpg');
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 413px) {
  header {
    height: 85vh;
  }
}
header .container {
  padding-top: 30px ;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav h3 {
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
header nav .menuDesktop {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  list-style-position: inside;
}
@media screen and (max-width: 820px) {
  header nav .menuDesktop {
    display: none;
  }
}
header nav .menuDesktop a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
header nav .menuDesktop li:last-of-type a {
  border: 1px solid white;
  border-radius: 20px;
  padding: 3px 8px;
  transition: all 1s ease;
}
header nav .menuDesktop li:last-of-type a:hover {
  background-color: white;
  color: black;
  transition: all 1s ease;
}
header nav .menuMobile {
  display: none;
}
@media screen and (max-width: 820px) {
  header nav .menuMobile {
    display: block;
  }
  header nav .menuMobile i {
    font-size: 2.3rem;
    color: white;
    cursor: pointer;
  }
  header nav .menuMobile ul {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    text-align: center;
    padding: 5px;
    list-style-type: none;
    list-style-position: inside;
    z-index: 2;
    border-top-right-radius: 0 ;
  }
  header nav .menuMobile ul li {
    margin-bottom: 10px;
  }
  header nav .menuMobile ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border-bottom: 2px solid white;
  }
  header nav .menuMobile ul li a:hover {
    color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
  }
}
header article {
  padding-top: 9%;
}
@media screen and (max-width: 844px) {
  header article {
    position: absolute;
    top: 20%;
  }
}
header article h1 {
  width: 40%;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}
@media screen and (max-width: 820px) {
  header article h1 {
    width: 80%;
    font-size: 2.3rem;
  }
}
header article p {
  width: 50%;
  color: white;
  padding: 10px 0;
  font-size: 1.06rem;
}
@media screen and (max-height: 820px) {
  header article p {
    width: 80%;
  }
}
header article form input[type='text'] {
  width: 100%;
  max-width: 230px;
  height: 35px;
  padding-left: 7px;
  border-radius: 35px;
  outline: none;
  border: 0;
  margin-bottom: 10px;
}
header article form input[type='submit'] {
  width: 100%;
  max-width: 180px;
  height: 44px;
  border-radius: 35px;
  border: 0;
  background-color: #ff5f27;
  color: white;
  cursor: pointer;
}
main .container {
  max-width: 1080px;
}
main .primeira {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
main .primeira h2 {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.38rem;
}
main .segunda {
  padding: 50px 4% 100px 4%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  main .segunda {
    display: block;
    text-align: center;
  }
  main .segunda .mockup {
    margin: 20px auto;
    background-size: cover;
    min-height: 250px;
    padding-top: 0;
    background-position: center;
  }
}
main .segunda article {
  padding: 0 30px;
}
main .segunda article h3 {
  font-size: 1.38em;
  font-weight: normal;
  color: #31475e;
  line-height: 32px;
}
main .segunda article p {
  color: #6a7c92;
  margin-top: 22px;
  line-height: 28px;
  font-size: 0.9rem;
}
main .segunda .mockup {
  width: 100%;
  max-width: 400px;
  padding-top: 25%;
  background-image: url('../imagens/mockup1.jpg');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 #888888;
}
main .terceira {
  width: 100%;
  padding: 0 2%;
}
@media screen and (max-width: 420px) {
  main .terceira .bg2 {
    background-size: contain;
    min-height: 250px !important;
  }
  main .terceira .bg2 article {
    width: 100%;
    max-width: 300px !important;
    padding: 20px !important;
    position: absolute;
    right: 50% !important;
    transform: translateX(50%);
    font-size: 1rem !important;
  }
}
main .terceira .bg2 {
  width: 100%;
  min-height: 350px;
  background-image: url('../imagens/bg2.jpg');
  background-size: cover;
  position: relative;
}
main .terceira .bg2 article {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 40px;
  position: absolute;
  right: -2.5%;
  top: 50%;
  box-shadow: 0 3px 10px 0 #cfcfcf;
  color: #31475e;
  font-size: 1.1rem;
}
main .terceira .bg2 article p:first-of-type {
  margin-bottom: 15px;
  font-weight: lighter;
}
main .terceira .bg2 article p:last-of-type {
  font-weight: bold;
}
main .quarta {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 220px) {
  main .quarta {
    margin-top: 160px;
  }
}
main .quarta h2 {
  text-align: center;
  font-weight: 400;
  color: #31475e;
  font-size: 1.38rem;
}
main .quarta i {
  font-size: 16px;
  margin: 10px 0;
  color: #31475e;
}
main .quarta article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  main .quarta article {
    flex-direction: column;
    align-items: center;
  }
}
main .quarta article .box {
  width: 100%;
  max-width: calc(28.57142857%);
  background-color: white;
  box-shadow: 3px 3px 15px 0 #e0dddd;
  text-align: left;
  border-radius: 3px;
  float: left;
  margin: 20px 0 20px 0 ;
}
@media screen and (max-width: 768px) {
  main .quarta article .box {
    max-width: none;
    width: 90%;
  }
}
main .quarta article .box img {
  width: 100%;
}
main .quarta article .box .descricao {
  width: 100%;
  padding: 7% 0 11% 7%;
}
main .quarta article .box .descricao h3 {
  color: #31475e;
  font-weight: normal;
  font-size: 1.27rem;
}
main .quarta article .box .descricao p {
  width: 90%;
  color: #6a7c92;
  margin: 8px 0  6px 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: lighter;
}
main .quarta article .box .descricao button {
  background-color: white;
  width: 100%;
  max-width: 98px;
  height: 30px;
  border-radius: 15px ;
  border: 1px solid #6a7c92;
  color: #6a7c92;
  cursor: pointer;
  transform: all 1.5s ease;
}
main .quarta article .box .descricao button:hover {
  background-color: #6a7c92;
  border: 1px solid white;
  color: white;
  transform: all 1.5s ease;
}
main .quinta {
  width: 100%;
  padding: 10px 2% 20px 2%;
}
main .quinta .banner {
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px 1.5% 30px 1.5%;
}
main .quinta .banner h2 {
  color: #31475e;
  text-align: center;
  margin-bottom: 20px;
}
main .quinta .banner .wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .quinta .banner .wraper {
    flex-direction: column;
  }
}
main .quinta .banner .wraper div {
  width: 100%;
  padding: 2%;
  height: 100px;
  border: 0.01px solid #dddddd;
  text-align: center;
}
@media screen and (max-width: 768px) {
  main .quinta .banner .wraper div {
    padding-top: 6%;
  }
}
main .quinta .banner .wraper div img {
  vertical-align: middle;
}
main .contato {
  width: 100%;
}
main .contato h2 {
  color: #31475e;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
main .contato form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
main .contato form input,
main .contato form textarea {
  width: 100%;
}
main .contato form input:not([type="submit"]) {
  height: 38px;
  border-radius: calc(19px);
  margin-bottom: 7px;
  padding-left: 10px;
  border: 1px solid #e4e1e1;
  outline: 0;
}
main .contato form textarea {
  height: 120px;
  resize: none;
  padding: 7px;
  border-radius: calc(19px);
  border: 1px solid #e4e1e1;
  outline: 0;
}
main .contato form input[type="submit"] {
  max-width: 130px;
  height: 38px;
  border-radius: 100px;
  border: 0;
  background-color: #ff5f27;
  box-shadow: 0 8px 20px 0 #e0e0e0;
  color: white;
  cursor: pointer;
  margin-top: 7px;
}
footer {
  width: 100%;
  padding: 0 3%;
}
footer .container {
  max-width: 1180px;
  display: flex;
  justify-content: space-around;
  padding: 5% 0 2% 0;
}
@media screen and (max-width: 768px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
}
footer .container div {
  width: 100%;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  footer .container div {
    padding: 10px;
    border: 0.1px solid #31475e;
    border-top: 0;
  }
}
footer .container h3 {
  color: #31475e ;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 8px;
  font-size: 1.3rem;
}
footer .container p {
  color: #31475e;
  font-weight: lighter;
}
footer .container .news input {
  width: 70%;
  max-width: 208px;
  height: 43px;
  padding-left: 8px;
  border-radius: 100px;
  border: 1px solid #dfdbdb;
  outline: 0;
}
footer .container .news button {
  width: calc(20%);
  margin-left: 10px;
  max-width: 63px;
  height: 43px;
  border: 1px solid #31475e;
  border-radius: 50px;
  background: white;
  font-size: 1.3rem;
  cursor: pointer;
}
